/* THIS IS YOUR CSS FILE */

@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Orelega+One&family=Roboto&display=swap');

header{
  background-image: url(../../img/pexels_bg.jpg); /* photo https://www.pexels.com/photo/flatlay-display-of-electronics-next-to-eyeglases-3184454/*/
  background-repeat:no-repeat;
  background-size: cover;
  background-position: bottom center;
  background-attachment: fixed; /*background stays*/
  padding: 400px 0; /*space around the header*/
}
/*working on header 1*/
h1{
  color: #696968; /*can shorten to 3, color is dark grey*/
  text-align: center;
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 65px;
  text-transform: uppercase;
}
/*class tagline*/
h1 + p { /*only goes with h1. the "student. coder. young professional"*/
  font-size: 36px;
  text-align: center;
  color: #808081; /*light grey*/
  border-top: 1px solid #000;
  padding-top: 10px;

}
/*social media icons*/
i.fab{
  font-size: 18px
  color: #808081;
}

/* font imported*/
p{
  font-family: 'Nanum Gothic', sans-serif; /*for header 1/h1*/
  font-family: 'Orelega One', sans-serif; /*for header 2/h2*/
  font-family: 'Roboto', sans-serif; /*header for h3/h3*/
  font-size: 24px;
  line-height: 1.7em; /*makes it much bigger*/
}
/*color to the links*/
p a {
  margin: 0 10px;
}
p a:hover i.fab{
  color: #808081;
}

/*applies to all sections of the website*/
section{
  padding: 50px 0;
}

/*about section*/
section#about{
  background-color: #DCDCDC; /*faint grey for background*/
}
/*all of h2*/
h2{
  font-family: 'Orelega One', sans-serif;
  font-size: 45px;
  font-weight: bold;
  color: #808080; /*light grey*/
}
h3{
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.75em;
  color: #A9A9A9;
}
h5{
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
  line-height: 1.75em;
  color: #000;
  text-transform: uppercase;
}
section#skills{
  background-color: #DCDCDC;
}


/* .well{}
  background: #DCDCDC;
  padding 10px;*/
/*footer*/
footer{
  background: #808080;
  color: #000;
  padding: 50px 0 100px; /* top, left/right, bottom */
}

/* center the top top bar*/
ul.navbar-nav{
  margin-left: auto;
  margin-right: auto;
}
/* center the top top bar, makes it transparent*/
nav.bg-light {
  background: #DCDCDC; /*change this if want to make it transparent*/
}

/*character color for top top bar*/
nav.bg-light a.nav:hover,
nav.bg-light a,nav:focus,
nav.bg-light a.nav-link:active{
  color: #000 !important;
}
/*nav.bg-light a.nav:hover{
  color: ------ !important, to change the color of the top bar when hover
}
*/

/* media overrides, makes website look good on mobile when it's smaller screen*/
@media only screen and (max-width: 767px) {
  header{
    padding: 200px 0;
  }
}
/*customizing the background photo
img.profile{
  border-radius: 100%; this makes it a circle
  max-width: 300px;
*/

/*f12 - can directly change the website when it's live */
